/* MARGENS */
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 10px solid black;
    margin: 100px;
    padding:100px;
}
.conteudo-box{
    background-color: blue;
    text-align: center;
}



